.embla {
  overflow: hidden;
  &__container {
    display: flex;
  }
  &__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}


.card-list {
  &__slide {
    display: flex;
    flex: 1 1 0%;
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    &__slide {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      padding: 0 .5rem 0 1rem;
    }
    &__buttons {
      position: relative;
      z-index: 99;
    }
  }

  .embla {
    &__next {
      position: relative;
      left: -10px;
    }
  }
}